.Header{
  width: 100%;
  height: 25pt;
  background-color: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5pt;
}

.NavLink{
  margin: 15pt;
}

.Container{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 220pt 1fr;
}

.LoginContainer{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Form{
  display: flex;
  flex-flow: column;
  margin: 20pt;
}

.AddForm{
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 200pt 1fr;
}

.Project{
  width: 75%;
  margin: auto;
}

a{
  text-decoration: none;
  color: inherit;
}

textarea{
  resize: vertical;
}
